@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar jase tu SkillPath madhe kele hote */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}